/*基础样式*/
@import "variable.styl"

body, html
  font-family: Roboto, Lato, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  color: rgba(0, 0, 0, .87);
